



.tarjeta{
  display: flex;
  flex-basis: 23%;/* es la medida estanadar de la targeta, se modificara dependiendo del tamaño de pantalla*/
  margin-left: 40px; 
  margin-bottom: 15px; 
  border: 1px solid black;
  justify-content: center;
  align-items:  center;
  flex-direction: column;
}
.imagen{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}
.imagenT{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 37%;
  margin-top: 5px;
}
.columnas {
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
span{
  font-weight: bold;
}
.informacion{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta:hover{
  transition: 0.5s;
  transform: translateX(5px) translateY(-5px);
  box-shadow: 0 0 7px #000000;
}

@media (min-width: 1000px) {
  .tarjeta{
    display: flex;
    flex-basis: 23%;/* es la medida estanadar de la targeta, se modificara dependiendo del tamaño de pantalla*/
    margin-left: 90px; 
    margin-bottom: 15px; 
    border: 1px solid black;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
  }
  
  .informacion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .informacion p{
    margin-bottom: 35px;
  }
}
